@import "utilities";
@import "taggle";
@import "bs-callout";

@import (css) "../node_modules/awesomplete/awesomplete.css";

footer {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    color: white;
}


.jumbotron {
    position: relative;
    background-color: white;

    .container {
        position: relative;
    }
}

#particles-js {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
}

#libraries-with-taggle {
    min-height: 100px;
}

.awesomplete > ul {
    margin-top: 30px;
    min-width: 0;
}
